.blue {
    background-color: #33b6f8;
}

.gray {
    background-color: #a4a4a7;
}

.green {
    background-color: #0ecd0e;
}

.orange {
    background-color: #ff9b23;
}

.purple {
    background-color: #dc70e5;
}

.red {
    background-color: #ff334b;
}

.yellow {
    background-color: #f7d033;
}
