.card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    color: rgba(0,0,0,.7);
    display: flex;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none;
    margin: 0 5px;
    min-height: 50px;
    padding: 5px;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    width: 250px;
}

.card:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    cursor: move;
}

.empty {
    min-height: 25px;
    /*border: 2px solid #f06;*/
    background-color: rgba(255,255,255,1);
}

/*.empty:hover {
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}*/